@import "../../index.scss";
.tour-output-list {
    width: 80%;
    max-width: 1170px;
    margin: 5em auto;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

header {
    text-transform: uppercase;
    border-bottom: solid 2px grey;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: $mainGreen;
    color: rgb(65, 43, 4);
    position: relative;
}

h5 {
    position: absolute;
    right: 1em;
}

.img-container {
    position: relative;
}

span i {
    cursor: pointer;
    padding: 0 0.5em;
}

.tour-info {
    width: 100%;
    background-color: $mainGrey;
    transition: $mainTransition;
    text-transform: none;
    border: solid 3px grey;
    border-style: outset;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: -1em;
    padding: 0 0 30%;
}

.tour-output-list section {
    border: solid 2px grey;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.inventory-output-item li {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.inventory-output-item li {
    display: inline;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}

.tour-output-list img {
    width: 100%;
    height: auto;
    float: left;
}

.close-btn {
    position: absolute;
    right: 0;
    bottom: 3%;
    font-size: 2.5rem;
    color: $mainGreen;
    text-shadow: 2px 2px 2px grey;
    transition: $mainTransition;
    cursor: pointer;
}

.img-container:hover .close-btn {
    opacity: 1;
}

@media (max-width: 780px) {
    .tour-output-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 350px) {
    .tour-output-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
    h3 {
        position: relative;
        left: -10%;
        margin: 0;
        padding: 0;
    }
    .header-tour {
        padding: 1em 0;
    }
    h5 {
        top: -0.5em;
    }
}