@import "../../index.scss";
.navbar {
    background-color: $mainGreen;
    margin: -1em auto;
}

.nav-links a {
    color: $mainGrey;
    font-size: 1.1rem;
    transition: all 0.3s linear;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.logo {
    height: 5em;
}

li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em 0;
    width: calc((100% / 5) - 0.4em);
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    min-width: 150px;
}

.active {
    color: orangered;
}