@import "../../index.scss";
.navbar {
    background-color: $mainGreen;
    margin: -1em auto 3em;
}

.nav-links a {
    color: $mainGrey;
    font-size: 1.1rem;
    transition: $mainTransition;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.logo {
    height: 5em;
    margin: 1em;
}

.navbar li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 0 200px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: calc((100% / 5) - 0.5em);
}

@media (max-width: 450px) {
    .navbar li {
        width: 100%;
    }
}