$mainBlack: rgb(32, 31, 31);
$mainGreen: #3d9970;
$mainWhite: rgb(247, 242, 242);
$mainGrey: #ccc5c5;
body {
    font-family: "Open Sans", sans-serif;
    background-color: $mainWhite;
    color: $mainGrey;
}